{% extends "base.html" %}


{% block content %}
 
   <div class="">
      
      <form class="form-horizontal" method="post" action="/notebook/edit/{{note.id}}">
	   <div class="control-group">
      <p>
        <input class="input-block-level" type="text"  name="note[title]" value="{{ note.title|safe }}">
      </p>
	  </div>
	   <div class="control-group">
      <textarea class="input-block-level" name="note[content]" rows="20" >{{ note.content|safe }}</textarea>
      </div>
      <div class="control-group">    
         <button id="submit" class="btn" type="submit">Submit</button>	  
         <button id="submit" class="btn" type="submit">return</button>
      </div>
     </form>
   </div> 
 
{% endblock %}
